<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/empty">
<head>
</head>
<body>

<div layout:fragment="content">
    <div class="middle-box text-center animated fadeInDown">
        <h2>An error has occurred.</h2>
        <h3 class="font-bold" th:text="#{text.error_occurred}"></h3>

        <div class="error-desc">
            <a href="/" class="btn btn-primary m-t" th:text="#{btn.go_to_main}"></a>
        </div>
    </div>
</div>

</body>
</html>